<div class="columns">
  <div class="column">
    <div class="column-content">
      <div class="attributes-group">
        {{#each ATTRIBUTES.base as |label key|}}
          <button class="attribute">
            <label>{{localize label}}</label>
            <span class="attribute-value">
              <span class="value">{{lookup ../actor.system.attributes key}}</span>
              <span class="max">5</span>
            </span>
          </button>
        {{/each}}
      </div>
      <div class="attributes-group">
        {{#each ATTRIBUTES.social as |label key|}}
          <button class="attribute {{key}}">
            <label>{{localize label}}</label>
            <span class="attribute-value">
              <span class="value">{{lookup ../actor.system.attributes key}}</span>
              <span class="max">5</span>
            </span>
          </button>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="column">
    <div class="column-content">
      <div class="skills-container">
        {{#each SKILLS_GROUPS as |label groupKey|}}
        <div class="skills-group">
          <h2>{{localize label}}</h2>
          {{#each (lookup ../SKILLS groupKey) as |label key|}}
            <button class="skill {{key}}">
              <label>{{localize label}}</label>
              <span class="attribute-value">
                <span class="value">{{lookup ../../actor.system.skills key}}</span>
                <span class="max">5</span>
              </span>
            </button>
          {{/each}}
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>